* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Zilla Slab Highlight", cursive; */
  font-family: "RocknRoll One", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  background: url(./images/CatMain.jpeg) right top no-repeat;
  width: 100%;
  height: 100vh;
  background-color: #bfc7d9;
  background-size: cover;
}

.headerTxt {
  background-color: #f2b56b;
}

.navigation {
  background-color: #cd8940;
  height: 8rem;
  margin-bottom: -21px;
  display: flex;
}

.headerIn {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.85), transparent);
  color: aliceblue;
  position: absolute;
  bottom: 0;
  margin-bottom: 11rem;
  left: 50px;
}

.about {
  /* text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); */
}

/* .logoHome {
  background-image: url(./images/LogoCat.png);
} */

.SignUp {
  display: flex;
  flex-direction: column;
}

.btnsLogout {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.form-row {
  background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.35), transparent);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.ReactModal__Content {
  width: 25rem;
}

.settings {
  width: 40%;
}

.catImg {
  width: 100px;
  height: 100px;
}
